wheel
setuptools
opencv-python
imageio==2.31.6
ipython
numpy
pandas==2.0.3
pytest-warnings==0.3.1
scikit-learn==1.2.2
joblib==1.4.0
fastapi==0.110.2 
setuptools==69.5.1
uvicorn==0.29.0
statsmodels
pmdarima
plotly
MLForecast
neuralforecast
window-ops